.item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.link {
  display: flex;
  width: 40px;
  height: 36px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  overflow: hidden;
  border-radius: 12px;
  text-decoration: none;
  color: var(--app-icon-color);
  font-size: 10px;
  font-weight: 500;
  white-space: nowrap;
}

.link[data-status="active"] {
  width: auto;
  padding: 6px 10px 6px 8px;
  background-color: var(--app-text-color);
  color: var(--app-inverse-text-color);
}

.label {
  display: none;
  text-transform: lowercase;
}

.link[data-status="active"] .label {
  display: inline;
}
