* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    height: 100dvh;
    max-height: 100dvh;
    overflow: auto;
}

#root {
    height: 100dvh;
}

:root {
    font-family: Inter, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    /*color: rgba(255, 255, 255, 0.87);*/
    /*background-color: #242424;*/

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
    :root {
        --primary-color: #FDFDFD;
        --primary-text-color: #242229;
        --secondary-color: #333334;
        --secondary-text-color: #F3F3F3;

        color: #242229;
        background-color: #F4F4F4;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: #4e4e4e;
        --secondary-color: #bfbfbf;
    }
}
