services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: fastify_app
    restart: always
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
      DATABASE_PATH: "/app/data/budget.db"
    volumes:
      - ./data:/app/data
